.signup-box{
    width: 360px;
    height: 620px;
    margin:auto;
    background-color: var(--primary-500);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.login-box{
    width: 360px;
    height: 280px;
    margin:auto;
    border-radius: 3px;
    background-color: var(--primary-500);
    margin-top: 50px;
}

h1{
    text-align: center;
    padding-top: 15px;
}

h4{
    text-align:center;
}

form{
    width:300px;
    margin-left: 20px;
}

form label{
    display:flex;
    margin-top:20px;
    font-size: 18px;
}

form input{
    width: 100;
    padding:7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.signup-box p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-size: 15px;
}

input[type="button"]{
    width: 320px;
    height:35px;
    margin-top: 20px;
    border: none;
    background-color: red;
    color: white;
    font-size: 18px;
}

.para-2{
    text-align: center;
    color: black;
    font-size:15px;
    margin-top:-10px;
    padding-top: 20px;
}

para-2 a{
    color: black;
}